{{ template "header" . }}
<body>
<h1>パスワード変更</h1>
{{ if .Error }}
<p><font color="#FF0000">{{ .Error }}</font><p>
{{ end }}
<form action="/mypage/change_password" method="POST">
    <label>ユーザ名: </label><input type="text" name="current_username" value="{{ .Username }}" readonly><br>
    <label>現在のパスワード: </label><input type="password" name="current_password" value="" required><br>
    <label>新しいパスワード: </label><input type="password" name="new_password" value="" required><br>
    <label>新しいパスワード（確認）: </label><input type="password" name="new_password_check" value="" required><br>
    <input type="submit" value="変更" onclick="confirm_password_update()">
</form>
<p><a href="/mypage">マイページに戻る</a></p>
{{ template "footer" }}