{{ template "header" . }}
<h1>List of tasks</h1>
<p><a href="/logout">ログアウト</a></p>
<p><a href="/mypage">マイページ</a></p>
<form action="/list" method="GET">
    <p>タイトル：
    <input type="text" name="kw" value="{{ .Kw }}">
    </p>
    <p>状態：
    <label><input type="radio" name="is_done" value="true">完了</label>
    <label><input type="radio" name="is_done" value="false">未完了</label>
    <label><input type="radio" name="is_done" value="none" checked>指定しない</label>
    </p>
    <input type="submit" value="検索">
</form>
<p><a href="/task/new">タスクの新規登録</a></p>
{{ if not .Tasks }}
<p>登録データがありません．</p>
{{ else }}
<table>
    <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>登録日</th>
        <th>状態</th>
    </tr>
    {{ range $task := .Tasks }}
    <tr>
        <td><a href="/task/{{ $task.ID }}">{{ $task.ID }}</a></td>
        <td>{{ $task.Title }}</td>
        <td>{{ $task.CreatedAt }}</td>
        <td>{{ if $task.IsDone }}済{{ end }}</td>
    </tr>
    {{ end }}
</table>
{{ end }}
{{ template "footer" }}