{{ template "header" . }}

<body onload="generate_task()">
<h1>タスク一覧</h1>
<hr>
<p><a href="/logout">ログアウト</a> <a href="/mypage">マイページ</a></p>

<p><a href="/task/new">タスクの新規登録</a></p>
<div style="padding: 10px; margin-bottom: 10px; border: 1px dashed #333333; border-radius: 5px;">
<h3>タスク検索</h3>
<form action="/list" method="GET">
    <p>タイトル：
    <input type="text" name="kw" value="{{ .Kw }}">
    </p>

    <p>タグ：
        <select name="tag">
            <option value="">タグを選択してください</option>
            {{ range $tag := .Tags }}
            <option value="{{ $tag }}">{{ $tag }}</option>
            {{ end }}
        </select>

    </p>

    <p>締め切り：
        <label><input type="radio" name="deadline" value="past" {{ if eq .Deadline "past" }} checked {{ end }}>期限切れ</label>
        <label><input type="radio" name="deadline" value="yet" {{ if eq .Deadline "yet" }} checked {{ end }}>期限前</label>
        <label><input type="radio" name="deadline" value="none" {{ if eq .Deadline "none" }} checked {{ end }}>指定しない</label>
    </p>

    <p>優先度：
        <label><input type="radio" name="priority" value="true" {{ if eq .Priority "true" }} checked {{ end }}>高</label>
        <label><input type="radio" name="priority" value="false" {{ if eq .Priority "false" }} checked {{ end }}>通常</label>
        <label><input type="radio" name="priority" value="none" {{ if eq .Priority "none" }} checked {{ end }}>指定しない</label>
    </p>

    <p>完了状況：
        <label><input type="radio" name="is_done" value="true" {{ if eq .Is_done "true" }} checked {{ end }}>完了</label>
        <label><input type="radio" name="is_done" value="false" {{ if eq .Is_done "false" }} checked {{ end }}>未完了</label>
        <label><input type="radio" name="is_done" value="none" {{ if eq .Is_done "none" }} checked {{ end }}>指定しない</label>
    </p>

    <p>表示順：
        <label><input type="radio" name="order" value="id" {{ if eq .Order "id" }} checked {{ end }}>ID</label>
        <label><input type="radio" name="order" value="title" {{ if eq .Order "title" }} checked {{ end }}>タイトル</label>
        <label><input type="radio" name="order" value="tag" {{ if eq .Order "tag" }} checked {{ end }}>タグ</label>
        <label><input type="radio" name="order" value="deadline" {{ if eq .Order "deadline" }} checked {{ end }}>締め切り</label>
        <label><input type="radio" name="order" value="priority" {{ if eq .Order "priority" }} checked {{ end }}>優先度</label>
        <label><input type="radio" name="order" value="is_done" {{ if eq .Order "is_done" }} checked {{ end }}>完了状況</label>
        <br>
        <label><input type="radio" name="rev" value="ASC" {{ if eq .Rev "ASC" }} checked {{ end }}>昇順</label>
        <label><input type="radio" name="rev" value="DESC" {{ if eq .Rev "DESC" }} checked {{ end }}>降順</label>
    </p>
    <input type="submit" value="検索" />
</form>
<hr>
{{ if not .Tasks }}
<p>登録データがありません．</p>
{{ else }}
<table class="task_list">
    <tr>
        <th align="left">ID</th>
        <th align="left">タイトル</th>
        <th align="left">タグ</th>
        <th align="left">締め切り</th>
        <th align="left">優先度</th>
        <th align="left">完了状況</th>
    </tr>
    {{ range $task := .Tasks }}
    <tr class="task" id="{{ $task.ID }}">
        <td><a href="/task/{{ $task.ID }}">{{ $task.ID }}</a></td>
        <td>{{ $task.Title }}</td>
        <td>{{ $task.Tag }}</td>
        <td>{{ $task.Deadline }}</td>
        <td>{{ if $task.Priority }}高{{ end }}{{ if not $task.Priority }}通常{{ end }}</td>
        <td>{{ if $task.IsDone }}完了{{ end }}{{ if not $task.IsDone }}未完了{{ end }}</td>
    </tr>
    {{ end }}
</table>
{{ end }}
</div>
{{ template "footer" }}