/* placeholder file for CSS */
table.task_list {
    border-collapse: collapse;
    border: 2px solid; /* 外側の枠線 */
 }
 table.task_list td {
    border-width: 1px 0px; /* 上下だけ引く */
    border-color: green;   /* 線色：緑 */
    border-style: dashed;   /* 線種：実線 */
    padding: 0.3em;        /* セル内側の余白 */
 }